Import the required libraries and modules

In [5]:
import numpy as np
import pandas as pd
import zipfile
import sys
sys.path.insert(0, '..')
import src.utilities.data_cleaning as dc
import src.utilities.outlier_handler as oh

Load the data

In [6]:
train_zip = zipfile.ZipFile('../data/raw/sf-crime.zip').open('train.csv')
train_data = pd.read_csv(train_zip)
pd.set_option('display.max_columns', 37)

Summary of the data

In [7]:
train_data.info()
train_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
Dates         878049 non-null object
Category      878049 non-null object
Descript      878049 non-null object
DayOfWeek     878049 non-null object
PdDistrict    878049 non-null object
Resolution    878049 non-null object
Address       878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
dtypes: float64(2), object(7)
memory usage: 60.3+ MB

                   X              Y
count  878049.000000  878049.000000
mean     -122.422616      37.771020
std         0.030354       0.456893
min      -122.513642      37.707879
25%      -122.432952      37.752427
50%      -122.416420      37.775421
75%      -122.406959      37.784369
max      -120.500000      90.000000

Exploratory Data Analysis

In [8]:
# TODO:
train_data = train_data.drop(columns = ['Descript', 'Resolution'])

Handle X and Y outliers

In [9]:
result_tuple = oh.handle_outliers(train_data)
train_data = result_tuple[0]
train_data.describe()

                   X              Y
count  878049.000000  878049.000000
mean     -122.422763      37.767035
std         0.025285       0.024164
min      -122.513642      37.707879
25%      -122.432952      37.752427
50%      -122.416420      37.775421
75%      -122.406959      37.784368
max      -122.364937      37.819975

Save the mean coordinates for later (for outliers in the test data)

In [10]:
avg_XY = result_tuple[1]

Data pre-processing and feature Engineering

In [11]:
train_data = dc.main_clean(train_data, center_scale = False)